.inputline{
    height:90px;
}

.title{
    -webkit-text-stroke: 1px black;
    letter-spacing: 0.04em;
    font-family:'Arial';
    font-size:3ex;
    font-weight:5px;
}

.border{
    width:500px;
    margin-top:20px;
    border-width:3px;
    border-radius: 10px;
}