.line_split {
    height: 15px;
    border-top: 1px solid #ddd;
    text-align: center;
    margin-top:15px;
}
.el-row-books{
    margin-top:0px;
}
.stroke{
    color: transparent;
    -webkit-text-stroke: 1px black;
    letter-spacing: 0.04em;
    font-family:'KaiTi';
    font-size:5ex;
    height:40px;
    line-height:40px;
}

.input{
    height:40px;
    line-height: 40px;
}